@use 'themes';
@use 'typography';
@use 'mixins' as *;

.text-section {
  background: themes.$background-secondary-color;
  padding: 7rem 9rem;
  border-radius: var(--lg);
  @include devices('mobile') {
    padding: var(--lg);
    margin: var(--lg);
  }
}
