---
permalink: feed/feed.xml
excludeFromSitemap: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
<channel>
	<title>{{ metadata.title }}</title>
	<description>{{ metadata.feed.subtitle }}</description>
	<link href="{{ metadata.feed.url }}" rel="self"/>
	<link href="{{ metadata.url }}"/>
	<pubDate>{{ collections.posts | rssLastUpdatedDate }}</pubDate>
	<guid>{{ metadata.feed.id }}</guid>
	<managingEditor>
		<name>{{ metadata.author.name }}</name>
	</managingEditor>
	{%- for post in collections.posts %}
		{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
		<item>
			<title>{{ post.data.title }}</title>
			<link href="{{ absolutePostUrl }}"/>
			<pubDate>{{ post.date | rssDate }}</pubDate>
			<guid>{{ absolutePostUrl }}</guid>
			<description type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</description>
		</item>
	{%- endfor %}
</channel>