$background-color: #000;
$on-background-color: #fff;
$background-secondary-color: #fff;
$on-background-secondary-color: #000;
$background-light-2: #f7f7f7;
$logo-color: #f1de00;
$footer-background: #2154d6;
$footer-bar: #fff;
$color-border: #000;
$arrow-color: #fff;
$arrow-background-color: #2154d6;
$arrow-background-color-hover: #f1de00;
$text-color: #000;
