{% from "./byline.njk" import byline %}

{% macro postExcerpt(postUrl, postTitle, postImgSrc, authorName, authorImgSrc ) %}
<div class="blog-post-tiles">
  <div class="post-tile-img">
    {#
      In the context of the preview, the link is a duplicate, and the image is
      used decoratively - making the link not aria-hidden with an image
      description (if available) seems more confusing than helpful.
      If we have an image description it will be included on the post's page,
      where it is part of the article's content.
    #}
    <a href="{{ postUrl }}" aria-hidden="true">
      <img src="{{ postImgSrc }}" alt="" />
    </a>
  </div>
  <div class="post-content">
    {{ byline(authorName=authorName, authorImgSrc=authorImgSrc) }}
    <div class="post-title-section">
        <h3><a href={{ postUrl }}>{{ postTitle }}</a></h3>
    </div>
  </div>
</div>
{% endmacro %}