---
layout: layouts/base.njk
templateClass: tmpl-not-found
headerBackground: blue
title: 404 - Not Found
---

<div class="project-wrapper">
    <div class="project-info highlight">
        <div class="wrapper">
            {{ content | safe }}
        </div>
    </div>
</div>