---
layout: layouts/base.njk
templateClass: tmpl-not-found
title: 404 - Not Found
---

<div class="main-header blue-circle"></div>
<div class="project-wrapper">
    <h1 class="project-title">{{ title }}</h1>
    <div class="project-info light">
        <div class="wrapper">
            {{ content | safe }}
        </div>
    </div>
</div>