<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>
  <body>
    <header>
      <div class="semi-circle"></div>
      <nav>
        <ul class="nav-main">
          <li>
            <a href="#" class="logo">Deven</a>
          </li>
          {%- for nav in collections.nav | reverse -%}
            <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}">
              <a href="{{ nav.url | url }}" class="nav-main-item">{{ nav.data.navtitle }}</a>
            </li>
          {%- endfor -%}
          <li>
            <a href="#" class="subnav-parent nav-main-item">Discover
              <i class="arrow"></i>
            </a>
            <div class="subnav">
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Tools</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Latest News</a></li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#" class="nav-main-item">Blog</a>
          </li>
          <li>
            <a href="#" class="nav-main-item">Contributors</a>
          </li>
        </ul>
      </nav>
      <div>
        <h1 id="logo">Deven</h1>
      </div>
      <!-- <div class="shapes-container"> <h1>asdad</h1> <div class="shape shape-product-eng">asdasds</div> <div class="shape
      shape-standard">asdasds</div> <div class="shape shape-developer">asdasds</div> <div class="shape
      shape-enablement">asdasds</div> <div class="shape shape-opensource">asdasds</div> </div> -->
    </header>
    <!-- <main{% if templateClass %} class="{{ templateClass }} main"{% endif %}> Current page: {{ page.url | url }} <br/>
    {{ content | safe }} </main> -->
    <main>
      <section class="section--full section--light section--hello">
        <p>
          <span class="deven-word">Hello</span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus vitae arcu non elementum. Proin ac metus purus.
          Pellentesque sodales magna quis diam aliquam, in congue ligula tempus. Quisque interdum rhoncus nisi vel feugiat. Donec
          vel erat eget magna scelerisque pretium. Suspendisse imperdiet a massa vitae vestibulum. In vitae molestie tortor, at
          vehicula arcu. Pellentesque viverra nisi felis. Curabitur risus nunc, pellentesque vel euismod quis, fermentum at diam.
        </p>
      </section>
      <section class="section--full">
        <h1>Mission</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus vitae arcu non elementum. Proin ac metus purus.
        Pellentesque sodales magna quis diam aliquam, in congue ligula tempus. Quisque interdum rhoncus nisi vel feugiat. Donec
        vel erat eget magna scelerisque pretium. Suspendisse imperdiet a massa vitae vestibulum. In vitae molestie tortor, at
        vehicula arcu. Pellentesque viverra nisi felis. Curabitur risus nunc, pellentesque vel euismod quis, fermentum at diam.
      </section>
      <section class="section--full">
        <h1>Cool Stufs</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus vitae arcu non elementum. Proin ac metus purus.
        Pellentesque sodales magna quis diam aliquam, in congue ligula tempus. Quisque interdum rhoncus nisi vel feugiat. Donec
        vel erat eget magna scelerisque pretium. Suspendisse imperdiet a massa vitae vestibulum. In vitae molestie tortor, at
        vehicula arcu. Pellentesque viverra nisi felis. Curabitur risus nunc, pellentesque vel euismod quis, fermentum at diam.
      </section>
      <section class="section section--light section--tool">
        <h1 class="section-title">Tools</h1>
        <div class="tools-container">
          <a href="#" class="tool">
            <h2>Documentation Skeleton</h2>
            <div class="arrow-circle"></div>
          </a>
          <a href="#" class="tool">
            <h2>Telemetry</h2>
            <div class="arrow-circle"></div>
          </a>
          <a href="#" class="tool">
            <h2>BO1LER</h2>
            <div class="arrow-circle"></div>
          </a>
        </div>
      </section>
      <section class="section--full">
        <h1 class="section-title section-title-light">Current Team</h1>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus vitae arcu non elementum. Proin ac metus purus.
        Pellentesque sodales magna quis diam aliquam, in congue ligula tempus. Quisque interdum rhoncus nisi vel feugiat. Donec
        vel erat eget magna scelerisque pretium. Suspendisse imperdiet a massa vitae vestibulum. In vitae molestie tortor, at
        vehicula arcu. Pellentesque viverra nisi felis. Curabitur risus nunc, pellentesque vel euismod quis, fermentum at diam.
      </section>
    </main>
    <footer>
      <div class="footer--semi-circle"></div>
      <div class="footer--content">
        <div class="footer--icon">
          Main icon
        </div>
        <div class="footer--text">
          Blog coming soon
        </div>
        <div class="footer--button">
          Subsbribe via RSS
        </div>
      </div>
      <div class="footer--item footer--bar">
        <p>
          <em>This is an
            <a href="https://www.11ty.io/">Eleventy project</a>.</em>
        </p>
      </div>
    </footer>
  </body>
</html>