---
layout: layouts/base.njk
templateClass: tmpl-post
---

{% from "../macros/byline.njk" import byline %}

<article>
	<header class="post-header">
		<div class="post-header-img">
			<img src="{{ imageUrl }}" alt="" />
		</div>
		<div>
			{{ byline(authorName=author, authorImgSrc=authorImageUrl, date=date) }}
			<h1 class="post-header-title">{{ title }}</h1>
		</div>
	</header>
	<div class="post-content-wrapper"> {{ content | safe }} </div>
</article>
