.blog-eye {
    svg {
        width:250px;
        height:158px; 
    }
}

.coming-soon-text {
    font-size: 50px;
    line-height: 55px;
    color: #F7F7F7;
}

.blue-circle {
    background-image: radial-gradient(circle at top, #2154D6 50%, transparent 50%);
}

.blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 12%;
}

.boiler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px; 
    margin-top: 20%;
}

.boiler-title {
    font-size: 50px;
    line-height: 55px;
    color: #F7F7F7;
}

.boiler-intro {
    background: #F7F7F7;
    border-radius: 30px;
    padding: 5%;
    width: 640px;
    font-family: 'space-grotesk-light';
    font-size: 16px;
    line-height: 140%;
}