@use 'styles/media';

header h1.deven-headtext {
  letter-spacing: normal;
  font-size: 130px;
  line-height: 1.1;
  padding-top: 100px;
  padding-inline: 20px;
  @include media.sm {
    padding-top: 7%;
  }
  @include media.lg {
    font-size: 200px;
  }
}

.four-point-star {
  aspect-ratio: 1 / 1;
  position: relative;

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }

  span {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.shape-jumble {
  display: grid;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  font-weight: bold;
  font-size: 0.875rem;

  // If you have to edit these: I'm so sorry.
  // Also you'll want to check out the rendered grids in a browser to understand what's going on.
  // (Activate the grid layout view in the developer tools)
  grid-template-columns:
    minmax(2px, var(--content-margin))
    1fr
    [prod-start stand-start jump dev]
    min-content
    [enable]
    min-content
    [prod-end stand-end]
    minmax(0, 20px)
    2fr
    [hacker os]
    min-content
    1fr
    minmax(2px, var(--content-margin));

  grid-template-rows:
    [prod hacker] auto
    [stand os-start] 0.8fr
    [dev] 0.8fr
    [os-end jump enable] auto;

  @include media.md-rem {
    margin-top: -6rem;
    font-size: 1rem;
    grid-template-columns:
      1fr
      [prod stand] min-content
      1fr
      [hacker] min-content
      1fr
      [dev jump] min-content
      [enable os] minmax(17.5em, 22.5em);
    grid-template-rows:
      [os-start] 1fr
      [prod hacker dev] 1fr
      [os-end stand jump enable] auto;
  }

  @include media.lg-rem {
    font-size: 1.25rem;
  }

  .pill {
    text-align: center;
    padding: 0.8em 2em;
    border-radius: 100px;
    white-space: nowrap;
    min-width: min-content;
    max-width: max-content;

    @include media.sm-rem {
      padding: 1.4em 3.5em;
    }
  }

  .circle,
  .rounded-square {
    min-width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    aspect-ratio: 1/1;
    padding: 1em;
  }

  .circle {
    border-radius: 500px;
  }

  .rounded-square {
    border-radius: 1.5em;
  }

  .product-engineering {
    grid-area: prod;
    justify-self: flex-start; // x-axis
    align-self: flex-end; // y-axis
    margin-top: 3em;
    transform-origin: 40% 80%;
    transform: rotate(-17.807deg);
    background-color: #2154d6;
    color: #f7f7f7;
  }

  .standardization {
    grid-area: stand;
    justify-self: flex-start; // x-axis
    align-self: flex-start; // y-axis
    margin-inline-start: 2.5em;

    transform: rotate(7.818deg);
    background-color: #f7f7f7;
    color: black;

    @include media.sm-rem {
      margin-inline-start: 4.5em;
    }
  }

  .hacker {
    grid-area: hacker;
    font-size: 2.5em;
    line-height: 1;

    width: 2.4em;
    justify-self: center; // x-axis
    align-self: flex-start; // y-axis

    margin-left: -50px;

    background-color: black;
    color: #f7f7f7;
    padding: 0.4em;
    text-align: center;

    @include media.sm-rem {
      margin-inline: -0.8em;
    }
  }

  .open-source {
    grid-area: os;
    aspect-ratio: 1 / 1;
    justify-self: stretch; // x-axis
    align-self: center; // y-axis
    position: relative;

    min-width: 240px;
    margin-inline: -130px -50px;
    margin-block: 5px -10px;

    .four-point-star {
      width: 100%;
      svg {
        color: #f1de00;
      }
      span {
        color: black;
      }
    }

    @include media.md-rem {
      margin-block: 0 -70px;
      margin-inline: 50px 0;

      .four-point-star {
        width: 100%;
        svg {
          color: #f7f7f7;
        }
      }
    }
  }

  .developer {
    grid-area: dev;
    width: 8em;

    justify-self: flex-end; // x-axis
    align-self: flex-end; // y-axis

    background-color: #2154d6;
    color: #f7f7f7;
    transform-origin: 100% 0;
    transform: rotate(-20.32deg);

    margin-bottom: -1.5em;

    @include media.sm-rem {
      width: 10em;
      margin-bottom: -2.5em;
    }
  }

  .enablement {
    grid-area: enable;
    box-sizing: border-box;
    width: 8em;
    justify-self: flex-start; // x-axis
    align-self: center; // y-axis
    margin-left: -1em;

    background-color: #f7f7f7;
    color: black;
    text-align: center;
    transform-origin: center center;
    transform: rotate(12.743deg);

    @include media.sm-rem {
      width: 10em;
    }
  }

  .jump-button {
    grid-area: jump;
    align-self: center; // y-axis
    isolation: isolate;
    background-color: #f1de00;
    color: black;
    align-items: center;
    width: 6em;

    svg {
      display: block;
    }
  }
}

.home {
  display: flex;
  flex-direction: column;
  row-gap: 200px;
  margin-block: 100px;
  align-items: center;

  @include media.xl {
    row-gap: 300px;
  }

  margin-inline: var(--content-margin);

  > section {
    max-width: 100%;

    &.stretch {
      align-self: stretch;
    }

    &.no-margin {
      margin-inline: calc(-1 * var(--content-margin));
    }
  }

  h2 {
    font-family: 'november';
    font-size: 2rem;
    line-height: normal;

    // better readability for november font
    letter-spacing: 0.05em;
    text-transform: lowercase;
    text-align: center;

    @include media.md {
      font-size: 2.5rem;
    }

    @include media.lg {
      font-size: 3.1rem;
    }
  }
}

.home > section.intro {
  background: #f7f7f7;
  color: black;
  border-radius: 20px;
  padding: max(10%, 20px);

  letter-spacing: 0.01em;
  line-height: 1.3;
  font-size: 1.1rem;

  @include media.md {
    font-size: 1.3rem;
    padding-inline: 20%;
  }

  @include media.lg {
    font-size: 1.75rem;
  }

  .first-word {
    font-size: 3em;
    line-height: 1;
    font-family: 'november';
    vertical-align: baseline;
  }

  strong {
    font-family: 'november';
    font-size: 1.2em;
    line-height: 1;
    vertical-align: middle;
  }

  em {
    font-weight: bold;
  }

  p + p {
    margin-top: 0.7em;
  }
}

.home > section.vision-mission {
  display: flex;
  align-items: center;
  flex-direction: column;

  // We use negative margin for the overlapping effect.
  // Its value is defined for either x (inline) or y (block) axis depending on
  // current flex layout.
  --circle-overlap-y: 70px;

  @include media.md {
    --circle-overlap-y: 100px;
  }

  @include media.xl {
    --circle-overlap-y: unset;
    --circle-overlap-x: 100px;
    flex-direction: row;
  }

  .circle {
    max-width: 640px;
    // not percentual to have overflow-situation have rounded rects, not ovals
    border-radius: 320px;
    text-align: center;

    &::before {
      // Padding aspect ratio trick instead of "aspect-ratio", to only set
      // a minimum aspect ratio / let circle grow into rounded rect, without
      // relying on obscure flex + aspect-ratio behavior
      padding-bottom: 100%; /* Minimum aspect ratio */
      content: '';
      float: left;
    }

    svg {
      display: block;
      margin: 0 auto;
      width: 40%;
      height: auto;
      padding-top: 10%;
    }

    &.mission {
      color: black;
      background-color: #f7f7f7;
    }

    &.vision {
      color: white;
      background-color: #2154d6;
      svg {
        color: black;
      }
    }

    &:not(:first-child) {
      margin-inline-start: calc(-1 * var(--circle-overlap-x, 0px));
      margin-block-start: calc(-1 * var(--circle-overlap-y, 0px));
    }

    .circle-content {
      // approximation of the text-safe zone given the circle shape and overlap
      padding-inline: calc(var(--circle-overlap-x, 5%) + 1rem);
      padding-bottom: calc(var(--circle-overlap-y, 10%) + 1rem);

      @include media.sm {
        padding-inline: calc(var(--circle-overlap-x, 10%) + 1rem);
      }

      h2 {
        margin-block: 15px;
      }

      p {
        text-align: center;
        letter-spacing: 0.01em;

        font-size: 0.9rem;
        line-height: 1.2;

        @include media.sm {
          font-size: 1rem;
          line-height: 1.4;
        }

        @include media.md {
          font-size: 1.1rem;
        }

        @include media.lg {
          font-size: 1.2rem;
        }
      }
    }
  }
}

.home > section.mission-statement {
  isolation: isolate;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media.md {
    width: 800px;
  }

  @include media.xl {
    width: 1200px;
  }

  .cool-stuff-star {
    margin-bottom: -20px;
    z-index: 1;
    width: 300px;

    font-weight: bold;
    line-height: 1.2;
    font-size: 20px;
    letter-spacing: 0.01em;

    svg {
      color: #f1de00;
    }
    span {
      color: black;
    }

    @include media.md {
      width: 450px;
      font-size: 30px;
      margin-bottom: -150px;
      align-self: flex-start;
    }

    @include media.xl {
      width: 600px;
      font-size: 40px;
    }
  }

  .statement {
    background: #f7f7f7;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    transform: none;

    @include media.md {
      width: min(400px, 40vw);
      padding: 40px;
      align-self: flex-end;
    }

    @include media.xl {
      width: min(630px, 45vw);
      padding: 50px;
      border-radius: 30px;
    }

    p {
      font-weight: bold;
      font-size: 1.1rem;
      line-height: 1.3;
      letter-spacing: 0.01em;
      color: #000000;

      .november-font {
        font-family: 'november';
      }

      @include media.md {
        font-size: 1.3rem;
      }

      @include media.xl {
        font-size: 1.8rem;
      }
    }
  }
}

.home > section.tools {
  background: #f7f7f7;
  position: relative;
  border-radius: 30px;
  padding-top: 30px;
  padding-inline: 24px;
  padding: 30px 24px 50px;
  text-align: center;

  @include media.md {
    padding: 50px 60px 80px;
  }

  @include media.xl {
    padding: 80px 75px 130px;
  }

  ul {
    margin-top: 1rem;

    @include media.md {
      margin-top: 90px;
    }

    li {
      padding: 20px 0px;
      border-bottom: 1px solid #000000;
      a {
        display: flex;
        color: inherit;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;

        h3 {
          font-weight: bold;
          font-size: 1.5rem;
          line-height: 1.4;
          text-align: left;
          @include media.md {
            font-size: 2.1rem;
          }
          @include media.xl {
            font-size: 3.2rem;
          }
        }
        .arrow-circle {
          background: #2154d6;
          color: #f7f7f7;
          height: 50px;
          width: 50px;
          border: none;
          border-radius: 50%;
          overflow: hidden;
          position: relative;
          @include media.md {
            height: 75px;
            width: 75px;

            svg {
              width: 28px;
              height: auto;
            }
          }
          @include media.xl {
            height: 100px;
            width: 100px;

            svg {
              width: 35px;
              height: auto;
            }
          }
          .animated-arrow {
            position: relative;
            width: 200%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
          }
        }

        &:hover {
          color: #8e8e8e;

          .animated-arrow {
            -webkit-animation: slideArrows 0.75s forwards;
            animation: slideArrows 0.75s forwards;
            animation-iteration-count: 1;

            @include media.reduced-motion {
              -webkit-animation: none;
              animation: none;
            }

            // translate percentage works relative to the current element size.
            // Since the element is twice as wide as the parent, 50% equals the full
            // parent width.

            @-webkit-keyframes slideArrows {
              0% {
                transform: translateX(-50%);
              }
              100% {
                transform: translateX(0);
              }
            }

            @keyframes slideArrows {
              0% {
                transform: translateX(-50%);
              }
              100% {
                transform: translateX(0);
              }
            }
          }
        }
      }

      &:nth-child(even) {
        .arrow-circle {
          background: #f1de00;
          color: blacK;
        }
      }
    }
  }
}

.home > section.current-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  --avatar-size: 170px;

  @include media.md {
    gap: 120px;
  }

  h2 {
    color: #f1de00;
  }

  ul {
    color: #f7f7f7;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    list-style: none;
    gap: 20px;

    @include media.md {
      gap: 40px;
    }

    li {
      display: block;
      text-align: center;

      img {
        border-radius: 50%;
        object-fit: cover;
        width: var(--avatar-size);
        height: var(--avatar-size);
      }

      p {
        max-width: var(--avatar-size);
      }

      h3 {
        font-weight: bold;
      }
    }
  }
}

.home > section.latest-news {
  h2 {
    color: #f1de00;
  }

  .post-list {
    margin: 80px auto;
  }

  .button-group {
    margin: 0 auto;
  }
}
