@use 'styles/media';
@import './colour.scss';

.hero {
  background-color: $primary;
  height: 100%;
  margin: 0px 30px;  
  padding: 120px 0px 276px 173px;
  
  .hero-main {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    
    .headline {
      font-size: 9.375rem;
      font-weight: 700;
      line-height: 101%;
      padding-bottom: 12px;
    }
    // 120px
    
    .headline-2nd-row {
      display: flex;
      align-items: center;
      gap: 15px;
      line-height: 101%;
      
      .mission {
        font-size: 9.375rem;
        font-weight: 700;
        margin-right: 16px;
      }
      
      .subtext {
        font-size: 1.4238rem;
        width: 393px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        line-height: 157%;
        
        p {
          padding-bottom: 24px;

        }
      }
    }
  
  }
 
 }