@use 'styles/media';
@import './colour.scss';

.hero {
  margin: 0px 30px;  
  // padding: 120px 0px 276px 173px;
  position: relative;
  overflow: hidden;

  svg {
    color: $primary;
    display: block;
    z-index: 0;
    width: 100%;
    height: 2000px;
  }

  
  .hero-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0px;
    width: 80%;
    z-index: 1;
    position: absolute;
    top:50%;
    transform: translate(5%, -50%);

    .headline {
      font-size: 9.375rem;
      font-weight: 700;
      line-height: 101%;
      color: $black;
      grid-area: 1 / 1 / 3 / 6;
      
    }  
      .subtext {
        display:inline-block;
        font-size: 1.4238rem;
        // width: 393px;
        line-height: 157%;
        color: $black;
        // text-align: right;
        grid-area: 2 / 2 / 3 / 4;
        justify-self: end;
        align-content:center;
        
      p {
        margin-bottom: 12px;
      }

    }


  }
 
 }

 #hero-bg {
  color: $primary;
  width: 100%;
  height: 100%;
  display: block;
 }