@use 'styles/media';
@import './colour.scss';

@font-face {
  font-family: 'november';
  font-style: normal;
  font-weight: bold;
  font-synthesis: none;
  font-display: auto;
  src: url('../fonts/Hey November.woff2') format('woff2'),
    url('../fonts/Hey November.otf') format('opentype'),
    url('../fonts/Hey November.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url('../fonts/SpaceGrotesk.woff2') format('woff2'),
    url('../fonts/SpaceGrotesk.ttf') format('truetype');
}

:root {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}





































































.primary-cta {

  display: flex; 
  align-items: center;
  position: relative;
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: "";
    width: 140px;
    height: 2px;
    background: $black;
    display: block;
    margin-right: -16px;
    border-radius: 99px;
  }

  &::after {
    content: "";
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 6px;
    border-top-right-radius: 2px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 2px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

}