@use 'styles/media';

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 10px;
  .project-title {
    font-family: 'november';
    font-size: 45px;
    line-height: 5rem;
    text-align: center;
    color: #f7f7f7;
    display: flex;
    justify-content: center;
    padding: 100px 0px 0 0px;
    &.not-found {
      color: #000000;
    }
    &.wide-letters {
      letter-spacing: 0.1em;
    }
  }
  .project-info {
    width: 100%;
    line-height: 1.3;
    letter-spacing: 0.01em;
    position: relative;
    max-width: 40rem;
    margin: 0px auto;

    color: #f7f7f7;

    &.highlight {
      box-sizing: border-box;
      padding: 1.5rem;
      margin-bottom: 120px;
      color: black;
      background: #f7f7f7;
      border-radius: 20px;

      p {
        margin-block: 10px;
      }

      .cta-button:hover {
        // darker yellow instead of same color as background
        background-color: #e2c81e;
      }

      @include media.sm {
        padding: 4rem;
      }
    }
  }
}

.coming-soon {
  font-family: 'november';
  font-size: 45px;
  line-height: 5rem;
  text-align: center;
  color: #f7f7f7;
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}
