@use 'mixins' as *;
@use 'themes';

@font-face {
  font-family: 'november';
  font-style: normal;
  font-weight: 500;
  font-display: auto;
  src: url('../fonts/november.ttf');
}

@font-face {
  font-family: 'AVF';
  font-style: light;
  font-weight: 300;
  font-display: auto;
  src: url('../fonts/AVF.ttf');
}

:root {
  --font-primary: 'AVF';
  --font-secondary: serif;

  --text-base-size: 0.9em;
  --text-scale-ratio: 1.1;

  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-xxxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
}

/* @include devices('mobile') {
  :root {
    --font-primary: 'AVF';
    --font-secondary: serif;

    --text-base-size: 0.4em;
    --text-scale-ratio: 1.1;

    --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(1em / var(--text-scale-ratio));
    --text-md: calc(1em * var(--text-scale-ratio));
    --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(
      1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio)
    );
    --text-xxxl: calc(
      1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) *
        var(--text-scale-ratio)
    );
  }
} */

body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
form legend {
  color: var(--color-text-heading);
  margin-bottom: var(--space-xxs);
  line-height: var(--heading-line-height);
}

.text--xxxl {
  font-size: var(--text-xxxl);
}

h1,
.text--xxl {
  font-size: var(--text-xxl);
}

h2,
.text--xl {
  font-size: var(--text-xl);
}

h3,
.text--lg {
  font-size: var(--text-lg);
}

h4,
.text--md {
  font-size: var(--text-md);
}

.text--sm,
small {
  font-size: var(--text-sm);
}

.text--xs {
  font-size: var(--text-xs);
}

p {
  font-family: 'AVF';
  line-height: var(--body-line-height);
}

.logo {
  font-family: 'november';
  @extend .text--xl;
}

.deven-word {
  font-family: 'november';
  font-size: calc(var(--text-xxl) * 2);
}

.section-title {
  font-family: 'november';
  font-size: calc(var(--text-xxl) * 2);
}

.section-title-light {
  @extend .section-title;
  color: themes.$logo-color;
}
