@use 'themes';
@use 'typography';

footer {
  $self: &;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  height: 500px;

  .footer--semi-circle {
    z-index: -1;
    position: absolute;
    width: 100%;
    bottom: -100%;
    padding-bottom: 100%;
    border-radius: 100%;
    background-color: themes.$footer-background;
  }
  // ::after {
  //   content: '';
  //   display: flex;
  //   align-items: start;
  //   position: absolute;
  // }

  .footer--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 8vw;
    border: 1px solid red;
  }

  .footer--bar {
    border-top: 1px solid themes.$footer-bar;
    width: 100%;
    max-width: 960px;
  }

  .footer--text {
    font-family: november;
    color: white;
    font-size: var(--text-xxl);
  }

  .footer--button {
    background-color: #f1de00;
    border-radius: 20px;
    padding: 10px;
    font-family: avf;
  }
}
