.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-bottom: 100px;
  margin-inline: var(--content-margin);
}

.post-header {
  margin: 150px auto 20px auto;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  max-width: min(90rem, 100vw);
  color: #f7f7f7;
}
.post-header .byline {
  margin-top: 25px;
}
.post-header .post-header-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.2;
  margin: 25px 0px;
}
.post-header .post-header-img {
  width: 100%;
}
.post-header .post-header-img img {
  display: block;
  aspect-ratio: 3/2;
  border-radius: 30px;
  object-fit: cover;
  width: 100%;
}
@media (min-width: 768px) {
  .post-header {
    flex-direction: row;
    column-gap: 40px;
    align-items: center;
  }
  .post-header .post-header-title {
    font-size: 32px;
  }
  .post-header .post-header-img {
    width: 400px;
  }
  .post-header .post-header-img img {
    aspect-ratio: 1/1;
  }
}
@media (min-width: 992px) {
  .post-header {
    margin-bottom: 80px;
    padding-inline: 20px 50px;
    column-gap: 150px;
  }
  .post-header .post-header-title {
    font-size: 40px;
    margin: 35px 0px;
  }
  .post-header .post-header-img {
    width: 600px;
  }
}

.post-content-wrapper {
  margin: 0px auto;
  max-width: 55rem;
  width: 80%;
  padding: 10px;
  color: #f7f7f7;
}
@media (min-width: 768px) {
  .post-content-wrapper {
    width: 75%;
    padding: 0;
  }
}
@media (min-width: 992px) {
  .post-content-wrapper {
    width: 55%;
  }
}

.byline {
  font-size: 1rem;
  line-height: 2;
}
.byline > * {
  vertical-align: middle;
}
.byline img {
  object-fit: cover;
  height: 30px;
  width: 30px;
  margin-inline-end: 15px;
  border-radius: 100%;
}
.byline address {
  display: inline;
}
.byline .byline-separator {
  margin-inline: 0.75em;
}