.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 200px;
  margin-bottom: 200px;
}
@media (min-width: 768px) {
  .home {
    row-gap: 250px;
  }
}
.home section {
  margin-inline: 32px;
}
@media (min-width: 768px) {
  .home section {
    margin-inline: 60px;
  }
}
.home section h2 {
  font-family: "november";
  font-size: 2rem;
  line-height: normal;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  text-align: center;
}
@media (min-width: 768px) {
  .home section h2 {
    font-size: 2.5rem;
  }
}
@media (min-width: 992px) {
  .home section h2 {
    font-size: 3.1rem;
  }
}

section.abstract-header {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  gap: 40px 0px;
  margin-top: 0%;
  padding: 70px 0 0 0;
}

h1.deven-headtext {
  position: relative;
  font-family: "november";
  font-style: normal;
  font-size: 7rem;
  line-height: 5rem;
  text-align: center;
  justify-content: center;
  padding: 40px 0px 80px 0px;
  color: #f1de00;
  top: 20%;
}
@media (min-width: 768px) {
  h1.deven-headtext {
    font-size: 8rem;
    padding: 70px 0px 80px 0px;
  }
}

.shapes-container {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  color: red;
  width: 100%;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .shapes-container {
    padding-top: 1rem;
    max-width: 1050px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.shapes-container .intro-jumble {
  width: 50%;
  margin-top: -1rem;
  margin-left: 1rem;
}
@media (min-width: 768px) {
  .shapes-container .intro-jumble {
    margin-top: -1rem;
    margin-left: 2rem;
    width: 200px;
  }
}
.shapes-container .open-source-star {
  position: relative;
  z-index: 1;
  margin-left: 0;
  margin-top: -2rem;
  margin-bottom: 8rem;
  overflow: hidden;
  width: 45%;
  display: flex;
  justify-content: flex-end;
}
.shapes-container .open-source-star svg {
  width: 200px;
  height: 200px;
}
@media (min-width: 768px) {
  .shapes-container .open-source-star {
    margin-bottom: 14rem;
    margin-left: 3rem;
    margin-top: -13rem;
  }
  .shapes-container .open-source-star svg {
    width: 300px;
    height: 300px;
  }
}
.shapes-container .open-source-star text {
  z-index: 2;
  width: max-content;
  font-family: "space-grotesk-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

.pe-pill {
  background-color: #2154d6;
  border-radius: 100px;
  text-align: center;
  width: 18em;
  height: 65px;
  line-height: 65px;
  transform: rotate(-17.81deg);
  color: #f7f7f7;
  border: none;
  font-family: "space-grotesk-bold";
  font-size: 12px;
}

.standardization-pill {
  background-color: #f7f7f7;
  border-radius: 100px;
  text-align: center;
  width: 16em;
  height: 70px;
  line-height: 70px;
  transform: rotate(7.82deg);
  color: #000000;
  z-index: 1;
  margin-top: 9px;
  margin-left: 60px;
  border: none;
  font-family: "space-grotesk-bold";
  font-size: 12px;
}
@media (min-width: 768px) {
  .standardization-pill {
    font-size: 13px;
  }
}

.button-group {
  position: relative;
  margin-top: 12rem;
}

.abstract-text-span {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  left: 50%;
  font-family: "space-grotesk-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .abstract-text-span {
    font-size: 16px;
    line-height: 22px;
  }
}
.abstract-text-span svg {
  height: 26px;
}
@media (min-width: 768px) {
  .abstract-text-span svg {
    height: 37px;
  }
}

.contributor-jumble {
  position: relative;
  width: 50%;
  margin-top: 2.3rem;
  margin-left: 1rem;
}
@media (min-width: 768px) {
  .contributor-jumble {
    margin-left: 0rem;
    margin-top: 3rem;
    width: auto;
  }
}
.contributor-jumble .dev-square {
  position: absolute;
  background-color: #2154d6;
  border-radius: 10%;
  text-align: center;
  width: 120px;
  height: 120px;
  transform: rotate(-20.32deg);
  color: #f7f7f7;
  margin-bottom: 25px;
  left: 1rem;
}
@media (min-width: 768px) {
  .contributor-jumble .dev-square {
    width: 160px;
    height: 160px;
    left: 0;
  }
}
@media (min-width: 992px) {
  .contributor-jumble .dev-square {
    width: 200px;
    height: 200px;
  }
}
.contributor-jumble .link-button {
  position: absolute;
  border-radius: 50%;
  background-color: #f1de00;
  width: 65px;
  height: 65px;
  top: 7rem;
  left: 0.4rem;
}
@media (min-width: 768px) {
  .contributor-jumble .link-button {
    width: 90px;
    height: 90px;
    top: 9rem;
    left: 0rem;
  }
}
@media (min-width: 992px) {
  .contributor-jumble .link-button {
    width: 120px;
    height: 120px;
    top: 10rem;
  }
}
.contributor-jumble .enable-circle {
  position: absolute;
  border-radius: 50%;
  background-color: #f7f7f7;
  width: 120px;
  height: 120px;
  top: 4rem;
  left: 7rem;
  text-align: center;
  transform: rotate(12.74deg);
}
@media (min-width: 768px) {
  .contributor-jumble .enable-circle {
    width: 150px;
    height: 150px;
    left: 8.3rem;
    top: 4rem;
  }
}
@media (min-width: 992px) {
  .contributor-jumble .enable-circle {
    width: 200px;
    height: 200px;
    left: 10rem;
  }
}
.contributor-jumble .enable-circle span {
  color: #000;
}

.emoji-ellipse {
  background-color: #000;
  border-radius: 50%;
  position: relative;
  width: 80px;
  height: 80px;
  margin-right: 1rem;
  margin-top: -4rem;
}
@media (min-width: 768px) {
  .emoji-ellipse {
    width: 120px;
    height: 120px;
    margin: -2rem 3rem 0 6rem;
  }
}
.emoji-ellipse span {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  left: 50%;
  font-size: 30px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .emoji-ellipse span {
    font-size: 45px;
    line-height: 26px;
  }
}

.four-point-star {
  position: relative;
  z-index: 1;
  margin-left: 21rem;
  margin-top: -3rem;
}

.blog-content {
  padding: 2%;
}

section.intro {
  align-self: stretch;
  margin-inline: 0;
  background: #f7f7f7;
  box-sizing: border-box;
  color: #000000;
  border-radius: 20px;
  padding: 15% 18%;
  position: relative;
}
section.intro p {
  line-height: 1.3;
  letter-spacing: 0.01em;
  font-family: "space-grotesk-light";
  font-size: 1.1rem;
  line-height: 1.3;
}
@media (min-width: 768px) {
  section.intro p {
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) {
  section.intro p {
    font-size: 1.75rem;
  }
}
section.intro p strong {
  font-size: 1.2em;
  line-height: 1;
  font-family: "november";
  vertical-align: middle;
}
section.intro p:first-child strong:first-child {
  vertical-align: baseline;
  font-size: 3em;
  line-height: 1;
}
@media (min-width: 768px) {
  section.intro p:first-child strong:first-child {
    font-size: 5rem;
  }
}
section.intro p em {
  font-family: "space-grotesk-bold";
}
section.intro p + p {
  margin-top: 0.7em;
}

section.vision-mission {
  --circle-overlap-y: 70px;
  position: relative;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
@media (min-width: 768px) {
  section.vision-mission {
    --circle-overlap-y: 100px;
  }
}
@media (min-width: 1200px) {
  section.vision-mission {
    --circle-overlap-y: unset;
    --circle-overlap-x: 100px;
    flex-direction: row;
  }
}
section.vision-mission h2 {
  padding-block: 0.8em 0.4em;
}
section.vision-mission .circle {
  max-width: 640px;
  border-radius: 320px;
  text-align: center;
}
section.vision-mission .circle::before {
  padding-bottom: 100%; /* Minimum aspect ratio */
  content: "";
  float: left;
}
section.vision-mission .circle svg {
  display: block;
  margin: 0 auto;
  width: 40%;
  height: auto;
  padding-top: 10%;
}
section.vision-mission .circle.mission {
  color: black;
  background-color: #f7f7f7;
}
section.vision-mission .circle.vision {
  margin-block-start: calc(-1 * var(--circle-overlap-y, 0px));
  margin-inline-start: calc(-1 * var(--circle-overlap-x, 0px));
  color: white;
  background-color: #2154d6;
}
section.vision-mission .circle-content {
  padding-inline: calc(var(--circle-overlap-x, 5%) + 1rem);
  padding-bottom: calc(var(--circle-overlap-y, 10%) + 1rem);
}
@media (min-width: 576px) {
  section.vision-mission .circle-content {
    padding-inline: calc(var(--circle-overlap-x, 10%) + 1rem);
  }
}
section.vision-mission .circle-content p {
  font-family: "space-grotesk-light";
  letter-spacing: 0.01em;
  font-size: 1rem;
  line-height: 1.3;
}
@media (min-width: 576px) {
  section.vision-mission .circle-content p {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  section.vision-mission .circle-content p {
    font-size: 1.2rem;
  }
}

section.mission-statement {
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  max-width: 1100px;
}
section.mission-statement svg.cool-stuff-star {
  z-index: 1;
  width: 100%;
  height: auto;
  margin-bottom: -25px;
}
@media (min-width: 768px) {
  section.mission-statement svg.cool-stuff-star {
    align-self: flex-start;
    width: 60%;
    margin-bottom: -17%;
  }
}
section.mission-statement svg.cool-stuff-star text {
  color: black;
  font-family: "space-grotesk-bold";
  font-style: normal;
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.01em;
  width: max-content;
  z-index: 2;
}
section.mission-statement .statement {
  width: 100%;
  box-sizing: border-box;
  background: #f7f7f7;
  border-radius: 20px;
}
@media (min-width: 768px) {
  section.mission-statement .statement {
    align-self: flex-end;
    width: 60%;
    padding: 54px;
  }
}
section.mission-statement .statement p {
  padding: 32px;
  font-family: "space-grotesk-bold";
  font-size: 1.3rem;
  line-height: 1.3;
  letter-spacing: 0.01em;
  color: #000000;
}
@media (min-width: 992px) {
  section.mission-statement .statement p {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  section.mission-statement .statement p {
    font-size: 1.8rem;
  }
}
section.mission-statement .statement p strong {
  font-family: "november";
}

section.tools {
  background: #f7f7f7;
  color: black;
  position: relative;
  border-radius: 30px;
  align-self: stretch;
  padding: 40px 35px 60px;
  text-align: center;
  display: block;
}
@media (min-width: 768px) {
  section.tools {
    padding: 60px 55px 100px;
  }
}
@media (min-width: 1440px) {
  section.tools {
    padding: 80px 75px 130px;
  }
}
section.tools ul {
  margin-top: 3rem;
}
@media (min-width: 768px) {
  section.tools ul {
    margin-top: 4rem;
  }
}
section.tools ul li {
  padding: 20px 0px;
  border-bottom: 1px solid #000000;
}
section.tools ul li a {
  display: flex;
  color: inherit;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
section.tools ul li a h3 {
  font-family: "space-grotesk-bold";
  font-size: 1.5rem;
  line-height: 1.7rem;
  text-align: left;
}
@media (min-width: 768px) {
  section.tools ul li a h3 {
    font-size: 1.7rem;
    line-height: 2.7rem;
  }
}
@media (min-width: 992px) {
  section.tools ul li a h3 {
    font-size: 2.1rem;
    line-height: 2.9rem;
  }
}
@media (min-width: 1200px) {
  section.tools ul li a h3 {
    font-size: 2.7rem;
    line-height: 3.4rem;
  }
}
section.tools ul li a .arrow-circle {
  background: #2154d6;
  color: #f7f7f7;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
@media (min-width: 768px) {
  section.tools ul li a .arrow-circle {
    height: 75px;
    width: 75px;
  }
}
section.tools ul li a .arrow-circle .animated-arrow {
  position: relative;
  width: 200%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
section.tools ul li a:hover {
  color: #8e8e8e;
}
section.tools ul li a:hover .animated-arrow {
  -webkit-animation: slideArrows 0.75s forwards;
  animation: slideArrows 0.75s forwards;
  animation-iteration-count: 1;
}
@media (prefers-reduced-motion: reduce) {
  section.tools ul li a:hover .animated-arrow {
    -webkit-animation: none;
    animation: none;
  }
}
@-webkit-keyframes slideArrows {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideArrows {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
section.tools ul li:nth-child(even) .arrow-circle {
  background: #f1de00;
  color: blacK;
}

section.current-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
section.current-team h2 {
  color: #f1de00;
}
section.current-team .team-member-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin-block: 6rem 4.5rem;
}
section.current-team .team-member-list .team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px 30px 10px;
}
section.current-team .team-member-list .team-member .member-pic {
  border-radius: 50%;
  width: 170px;
  height: 170px;
}
section.current-team .team-member-list .team-member .member-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}
section.current-team .team-member-list .team-member .member-info .member-name {
  font-family: "space-grotesk-bold";
  font-size: 16px;
  margin: 0;
  color: #f7f7f7;
}
section.current-team .team-member-list .team-member .member-info .member-title {
  font-family: "space-grotesk-light";
  font-size: 16px;
  margin: 0;
  color: #f7f7f7;
}

section.latest-news h2 {
  color: #f1de00;
}
section.latest-news .blog-posts-wrapper {
  margin-block: 6rem 4.5rem;
}
section.latest-news .blog-posts-wrapper .blog-post-tiles:nth-child(2) {
  display: none;
}
@media (min-width: 768px) {
  section.latest-news .blog-posts-wrapper .blog-post-tiles:nth-child(2) {
    display: initial;
  }
}
section.latest-news .blog-posts-wrapper .blog-post-tiles:nth-child(3) {
  display: none;
}
@media (min-width: 992px) {
  section.latest-news .blog-posts-wrapper .blog-post-tiles:nth-child(3) {
    display: initial;
  }
}
section.latest-news .buttons-group {
  justify-content: center;
}