header h1.deven-headtext {
  letter-spacing: normal;
  font-size: 130px;
  line-height: 1.1;
  padding-top: 100px;
  padding-inline: 20px;
}
@media (min-width: 576px) {
  header h1.deven-headtext {
    padding-top: 7%;
  }
}
@media (min-width: 992px) {
  header h1.deven-headtext {
    font-size: 200px;
  }
}

.shape-jumble {
  display: grid;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  font-family: "space-grotesk-bold";
  font-size: 0.875rem;
  grid-template-columns: minmax(2px, var(--content-margin)) 1fr [prod-start stand-start jump dev] min-content [enable] min-content [prod-end stand-end] minmax(0, 20px) 2fr [hacker os] min-content 1fr minmax(2px, var(--content-margin));
  grid-template-rows: [prod hacker] auto [stand os-start] 0.8fr [dev] 0.8fr [os-end jump enable] auto;
}
@media (min-width: 48rem) {
  .shape-jumble {
    margin-top: -6rem;
    font-size: 1rem;
    grid-template-columns: 1fr [prod stand] min-content 1fr [hacker] min-content 1fr [dev jump] min-content [enable os] minmax(17.5em, 22.5em);
    grid-template-rows: [os-start] 1fr [prod hacker dev] 1fr [os-end stand jump enable] auto;
  }
}
@media (min-width: 62rem) {
  .shape-jumble {
    font-size: 1.25rem;
  }
}
.shape-jumble .star {
  aspect-ratio: 1/1;
  position: relative;
}
.shape-jumble .star svg {
  width: 100%;
  height: 100%;
  display: block;
}
.shape-jumble .star span {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.shape-jumble .pill {
  text-align: center;
  padding: 0.8em 2em;
  border-radius: 100px;
  white-space: nowrap;
  min-width: min-content;
  max-width: max-content;
}
@media (min-width: 36rem) {
  .shape-jumble .pill {
    padding: 1.4em 3.5em;
  }
}
.shape-jumble .circle,
.shape-jumble .rounded-square {
  min-width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  aspect-ratio: 1/1;
  padding: 1em;
}
.shape-jumble .circle {
  border-radius: 500px;
}
.shape-jumble .rounded-square {
  border-radius: 1.5em;
}
.shape-jumble .product-engineering {
  grid-area: prod;
  justify-self: flex-start;
  align-self: flex-end;
  margin-top: 3em;
  transform-origin: 40% 80%;
  transform: rotate(-17.807deg);
  background-color: #2154d6;
  color: #f7f7f7;
}
.shape-jumble .standardization {
  grid-area: stand;
  justify-self: flex-start;
  align-self: flex-start;
  margin-inline-start: 2.5em;
  transform: rotate(7.818deg);
  background-color: #f7f7f7;
  color: black;
}
@media (min-width: 36rem) {
  .shape-jumble .standardization {
    margin-inline-start: 4.5em;
  }
}
.shape-jumble .hacker {
  grid-area: hacker;
  font-size: 2.5em;
  line-height: 1;
  width: 2.4em;
  justify-self: center;
  align-self: flex-start;
  margin-left: -50px;
  background-color: black;
  color: #f7f7f7;
  padding: 0.4em;
  text-align: center;
}
@media (min-width: 36rem) {
  .shape-jumble .hacker {
    margin-inline: -0.8em;
  }
}
.shape-jumble .open-source {
  grid-area: os;
  aspect-ratio: 1/1;
  justify-self: stretch;
  align-self: center;
  position: relative;
  min-width: 240px;
  margin-inline: -130px -50px;
  margin-block: 5px -10px;
}
.shape-jumble .open-source .star {
  width: 100%;
}
.shape-jumble .open-source .star svg {
  color: #f1de00;
}
.shape-jumble .open-source .star span {
  color: black;
}
@media (min-width: 48rem) {
  .shape-jumble .open-source {
    margin-block: 0 -70px;
    margin-inline: 50px 0;
  }
  .shape-jumble .open-source .star {
    width: 100%;
  }
  .shape-jumble .open-source .star svg {
    color: #f7f7f7;
  }
}
.shape-jumble .developer {
  grid-area: dev;
  width: 8em;
  justify-self: flex-end;
  align-self: flex-end;
  background-color: #2154d6;
  color: #f7f7f7;
  transform-origin: 100% 0;
  transform: rotate(-20.32deg);
  margin-bottom: -1.5em;
}
@media (min-width: 36rem) {
  .shape-jumble .developer {
    width: 10em;
    margin-bottom: -2.5em;
  }
}
.shape-jumble .enablement {
  grid-area: enable;
  box-sizing: border-box;
  width: 8em;
  justify-self: flex-start;
  align-self: center;
  margin-left: -1em;
  background-color: #f7f7f7;
  color: black;
  text-align: center;
  transform-origin: center center;
  transform: rotate(12.743deg);
}
@media (min-width: 36rem) {
  .shape-jumble .enablement {
    width: 10em;
  }
}
.shape-jumble .jump-button {
  grid-area: jump;
  align-self: center;
  isolation: isolate;
  background-color: #f1de00;
  color: black;
  align-items: center;
  width: 6em;
}
.shape-jumble .jump-button svg {
  display: block;
}

.button-group {
  position: relative;
  margin-top: 12rem;
}

.initial-text {
  font-size: 3rem;
}
@media (min-width: 768px) {
  .initial-text {
    font-size: 5rem;
  }
}

.rest-text {
  font-family: "space-grotesk-bold";
  font-size: 1.1rem;
  line-height: 1.5rem;
}
@media (min-width: 768px) {
  .rest-text {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
}
.rest-text .emoji-circle {
  width: 33px;
  position: relative;
  height: 33px;
  line-height: 33px;
  border-radius: 50%;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  background: #2154d6;
}

.intro {
  margin-top: 100px;
  background: #f7f7f7;
  width: 100%;
  color: #000000;
  line-height: 130%;
  letter-spacing: 0.01em;
  position: relative;
  border-radius: 20px;
}

.intro div {
  padding: 15% 18%;
}

.statement {
  width: 100%;
  background: #f7f7f7;
  border-radius: 20px;
  position: relative;
  transform: none;
}
@media (min-width: 768px) {
  .statement {
    width: 400px;
    background: f7f7f7;
    border-radius: 20px;
    position: relative;
    padding: 5%;
    transform: translate(30%, -70%);
  }
}
.statement p {
  padding: 5%;
  font-family: "space-grotesk-bold";
  font-size: 1.1rem;
  line-height: 1.5rem;
  letter-spacing: 0.01em;
  color: #000000;
}
@media (min-width: 768px) {
  .statement p {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
}

.cool-stuff-star {
  position: relative;
  display: flex;
  transform: none;
  justify-content: center;
  margin: 0px auto -1rem auto;
  z-index: 1;
}
@media (min-width: 768px) {
  .cool-stuff-star {
    position: relative;
    margin: 0px auto 30px auto;
    transform: translate(-60%, 0%);
  }
}
.cool-stuff-star svg {
  position: relative;
  height: 300px;
  width: 300px;
}
@media (min-width: 768px) {
  .cool-stuff-star svg {
    width: 408px;
    height: 408px;
  }
}
.cool-stuff-star text {
  z-index: 2;
  width: max-content;
  font-family: "space-grotesk-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

.team-members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 10% auto 8% auto;
}

.vision-mission {
  --circle-overlap-y: 70px;
  position: relative;
  margin: 5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .vision-mission {
    --circle-overlap-y: 100px;
  }
}
@media (min-width: 1200px) {
  .vision-mission {
    --circle-overlap-y: unset;
    --circle-overlap-x: 100px;
    flex-direction: row;
  }
}

.mission,
.vision {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 640px;
  border-radius: 320px;
  text-align: center;
  aspect-ratio: 1/1;
}
.mission svg,
.vision svg {
  width: 40%;
  height: auto;
  padding-top: 10%;
}

.mission {
  color: black;
  background-color: #f7f7f7;
}

.vision {
  margin-block-start: calc(-1 * var(--circle-overlap-y, 0px));
  margin-inline-start: calc(-1 * var(--circle-overlap-x, 0px));
  color: white;
  background-color: #2154d6;
}

.circle-content {
  padding-top: 0.5rem;
  padding-inline: calc(var(--circle-overlap-x, 5%) + 1rem);
  padding-bottom: calc(var(--circle-overlap-y, 10%) + 1rem);
}
@media (min-width: 576px) {
  .circle-content {
    padding-inline: calc(var(--circle-overlap-x, 10%) + 1rem);
  }
}
.circle-content .circle-title {
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  padding: 0.5rem 0 1rem 0;
}
@media (min-width: 768px) {
  .circle-content .circle-title {
    font-size: 2.5rem;
    line-height: 2.5rem;
    padding: 1.5rem 0 1.5rem 0;
  }
}
@media (min-width: 992px) {
  .circle-content .circle-title {
    font-size: 3rem;
  }
}
.circle-content .circle-text {
  font-family: "space-grotesk-light";
  text-align: center;
  letter-spacing: 0.01em;
  font-size: 0.9rem;
  line-height: 1.2;
}
@media (min-width: 576px) {
  .circle-content .circle-text {
    font-size: 1rem;
    line-height: 1.4;
  }
}
@media (min-width: 768px) {
  .circle-content .circle-text {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  .circle-content .circle-text {
    font-size: 1.2rem;
  }
}

.dev-enable {
  display: inline-block;
  background: #f1de00;
  border-radius: 10px;
  padding: 2px;
  font-size: 16px;
  padding: 0px 5px;
  vertical-align: bottom;
}

.november-font {
  font-family: "november";
  font-style: normal;
  font-weight: 400;
}

.mission-statement {
  position: relative;
  margin: 8rem auto 0px auto;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.cool-stuff-star text {
  font-family: "space-grotesk-bold";
  font-size: 25px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
}

.current-team {
  position: relative;
  max-width: 70%;
  margin: 8rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.team-title {
  color: #f1de00;
  font-size: 50px;
  line-height: 55px;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px 30px 10px;
}

.member-pic {
  border-radius: 50%;
  width: 170px;
  height: 170px;
}

.member-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}

.member-name {
  font-family: "space-grotesk-bold";
  font-size: 16px;
  margin: 0;
  color: #f7f7f7;
}

.member-title {
  font-family: "space-grotesk-light";
  font-size: 16px;
  margin: 0;
  color: #f7f7f7;
}