@font-face {
  font-family: "november";
  font-style: normal;
  font-weight: bold;
  font-synthesis: none;
  font-display: auto;
  src: url("../fonts/november.ttf");
}
@font-face {
  font-family: "AVF";
  font-style: light;
  font-weight: 300;
  font-display: auto;
  src: url("../fonts/AVF.ttf");
}
@font-face {
  font-family: "space-grotesk-light";
  font-style: normal;
  font-weight: 300;
  font-display: auto;
  src: url("../fonts/space-grotesk.ttf");
}
@font-face {
  font-family: "space-grotesk-bold";
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: url("../fonts/space-grotesk.ttf");
}
body {
  background: black;
  margin: 0 auto;
  line-height: 1.8em;
  font-size: 1em;
  font-family: "AVF";
}

.content-wrapper {
  min-height: 100vh;
  max-width: 1440px;
  /* Equal to height of footer */
  margin-bottom: -40px;
}

header.background-circle {
  position: relative;
  margin-inline: 32px;
  padding-top: 75px;
  --background: red;
}
header.background-circle.yellow {
  --background: #f1de00;
  --foreground: black;
}
header.background-circle.offwhite {
  --background: #f7f7f7;
  --foreground: black;
}
header.background-circle.blue {
  --background: #2154d6;
  --foreground: white;
}
@media (min-width: 768px) {
  header.background-circle {
    margin-inline: 60px;
  }
}
header.background-circle .header-content {
  isolation: isolate;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 1em;
  min-height: 200px;
}
@media (min-width: 576px) {
  header.background-circle .header-content {
    min-height: min(20vw, 320px);
  }
}
header.background-circle h1 {
  text-shadow: var(--background) -2px -2px, var(--background) 2px -2px, var(--background) 2px 2px, var(--background) -2px 2px;
  border-radius: 100px;
  color: var(--foreground);
  font-family: "november";
  letter-spacing: 0.01em;
  font-style: normal;
  font-size: 3.1rem;
  text-align: center;
  line-height: 1.3;
}
header.background-circle h1 svg {
  padding-top: 0.5em;
  display: block;
}
header.background-circle::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  transform: translate(-50%, calc(-50% + 150px));
  border-radius: 0 0 100% 100%;
  aspect-ratio: 1/1;
  background-color: var(--background);
  min-width: 600px;
}
@media (min-width: 576px) {
  header.background-circle::before {
    min-width: 800px;
    transform: translate(-50%, -50%);
  }
}

.navi {
  background-position: center -200px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.main {
  padding: 20px 30px;
  background: #fff;
  margin-bottom: 5rem;
  border-radius: 20px;
}

main {
  isolation: isolate;
  margin-bottom: 30px;
  min-height: calc(100vh - 80px);
}

.navi {
  display: flex;
  position: fixed;
  top: 0px;
  z-index: 99;
  right: 0;
  left: 0;
}

.main-header {
  height: 630px;
  position: absolute;
  width: 100%;
  right: 0px;
  left: 0px;
  top: 0px;
  z-index: -1;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 768px) {
  .main-header {
    height: 800px;
  }
}
@media (min-width: 992px) {
  .main-header {
    height: 700px;
  }
}
@media (min-width: 1200px) {
  .main-header {
    height: 560px;
  }
}

.cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "space-grotesk-bold";
  padding: 14px 20px;
  background-color: #f1de00;
  color: #000;
  cursor: pointer;
  border-radius: 100px;
  width: 158px;
  margin: 0 auto;
  text-decoration: none;
}
.cta-btn a {
  font-family: "space-grotesk-bold";
  font-size: 16px;
  color: black;
  text-decoration: none;
  margin-right: 5px;
  line-height: 140%;
}
.cta-btn:hover {
  background-color: #f7f7f7;
  transition: background-color 500ms;
}

.buttons-inline {
  margin-top: 2rem;
  justify-content: flex-start;
  display: flex;
}
.buttons-inline .cta-btn {
  margin: 0px 2rem 0px 0px;
}

.nav {
  max-width: 800px;
  margin: 0px auto;
}
.nav .nav-links {
  display: flex;
  flex-direction: row;
  background: #fff;
  border-radius: 40px;
  padding: 5px 2rem;
  margin: 1rem auto 2rem;
  justify-content: center;
  height: 50px;
  align-items: center;
}
.nav .nav-links .nav-item {
  display: inline-block;
  font-family: "space-grotesk-light";
}
.nav .nav-links .nav-item .nav .nav-links .nav-item {
  margin: 0px 15px;
}
@media (min-width: 768px) {
  .nav .nav-links .nav-item {
    margin: 0px 15px;
  }
}
.nav .nav-links .nav-item.nav-item-active {
  font-family: "space-grotesk-bold";
}
.nav .nav-links .nav-item.logo {
  font-family: "november";
}
.nav .nav-links .nav-item.logo a {
  font-size: 22px;
}
@media (min-width: 768px) {
  .nav .nav-links .nav-item.logo a {
    font-size: 26px;
  }
}
.nav .nav-links .nav-item a,
.nav .nav-links .nav-item .subnav-toggle {
  padding: 0;
  margin: 0;
  font-family: inherit;
  border: none;
  background-color: transparent;
  display: block;
  color: #111111;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
}
.nav .nav-links .nav-item a:hover,
.nav .nav-links .nav-item .subnav-toggle:hover {
  color: #8e8e8e;
}
@media (min-width: 768px) {
  .nav .nav-links .nav-item a,
  .nav .nav-links .nav-item .subnav-toggle {
    font-size: 1rem;
  }
}
.nav .nav-links .subnav {
  position: relative;
}
.nav .nav-links .subnav > .subnav-toggle .subnav-chevron {
  margin-left: 5px;
  margin-top: -3px;
  border-right: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .nav .nav-links .subnav > .subnav-toggle .subnav-chevron {
    margin-left: 8px;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
  }
}
.nav .nav-links .subnav > .subnav-toggle[aria-expanded=true] {
  color: #8e8e8e;
}
.nav .nav-links .subnav > .subnav-toggle[aria-expanded=true] .subnav-chevron {
  margin-top: 2px;
  transform: rotate(-135deg);
}
.nav .nav-links .subnav > .subnav-toggle[aria-expanded=false] + .subnav-container {
  display: none;
}
.nav .nav-links .subnav .subnav-container {
  position: absolute;
  transform-origin: 0% 0%;
  transform: rotate(7deg);
  top: 100%;
  left: -0.8rem;
  background: #111111;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  padding: 5px 0.8rem;
  justify-content: center;
  height: 40px;
  align-items: center;
}
@media (min-width: 768px) {
  .nav .nav-links .subnav .subnav-container {
    left: -2.4rem;
  }
}
@media (min-width: 768px) {
  .nav .nav-links .subnav .subnav-container {
    padding: 0px 2.4rem;
  }
}
.nav .nav-links .subnav .subnav-container ul {
  white-space: nowrap;
}
.nav .nav-links .subnav .subnav-container ul li.subnav-item {
  display: inline-block;
  margin-right: 8px;
  font-size: 10px;
  font-family: "space-grotesk-light";
}
.nav .nav-links .subnav .subnav-container ul li.subnav-item.subnav-item-active {
  font-family: "space-grotesk-bold";
}
@media (min-width: 768px) {
  .nav .nav-links .subnav .subnav-container ul li.subnav-item {
    margin-right: 2em;
  }
}
.nav .nav-links .subnav .subnav-container ul li.subnav-item:last-of-type {
  margin-right: 0;
}
.nav .nav-links .subnav .subnav-container ul li.subnav-item a {
  color: white;
}
.nav .nav-links .subnav .subnav-container ul li.subnav-item a:hover {
  color: #8e8e8e;
}
@media (min-width: 768px) {
  .nav .nav-links .subnav .subnav-container ul li.subnav-item a {
    font-size: 12px;
  }
}
.nav .nav-links .subnav .subnav-container .close-btn {
  width: 12px;
  height: 12px;
  position: relative;
  cursor: pointer;
  padding: 0;
  background: transparent;
  margin: 0 0 0 0.5rem;
  border: none;
}
.nav .nav-links .subnav .subnav-container .close-btn::before, .nav .nav-links .subnav .subnav-container .close-btn::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: white;
}
.nav .nav-links .subnav .subnav-container .close-btn::before {
  transform: rotate(45deg);
}
.nav .nav-links .subnav .subnav-container .close-btn::after {
  transform: rotate(-45deg);
}
@media (min-width: 768px) {
  .nav .nav-links .subnav .subnav-container .close-btn {
    margin-left: 1.5rem;
  }
}
.nav .nav-links .subnav .subnav-container .close-btn:hover::before, .nav .nav-links .subnav .subnav-container .close-btn:hover::after {
  background: #8e8e8e;
}

.main {
  padding-bottom: 80px;
}

em {
  font-weight: 900;
  font-style: underline;
}

.footer {
  display: flex;
  position: absolute;
  width: 100%;
  left: 0;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-content {
  border-top: 1px solid #f7f7f7;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 930px;
  margin: 0px auto;
}
.footer-content p,
.footer-content a {
  color: #f7f7f7;
  font-size: 12px;
  padding: 0px 5px;
}
.footer-content a {
  text-decoration: none;
}

.imprint-container {
  height: calc(100vh - 120px - 3rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.imprint-container .imprint-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imprint-container .imprint-box h1 {
  color: #f7f7f7;
  font-family: "space-grotesk-bold";
  font-size: 25px;
  padding-bottom: 20px;
}
.imprint-container .imprint-box p {
  color: #f7f7f7;
}
.imprint-container .imprint-box p strong {
  font-family: "space-grotesk-bold";
}

.nav-item {
  display: inline-block;
}

.nav-item:not(:last-of-type) {
  margin-right: 0.8em;
}
@media (min-width: 768px) {
  .nav-item:not(:last-of-type) {
    margin-right: 1em;
  }
}

.nav-item a {
  color: black;
  text-decoration: none;
}

.tools {
  background: #f7f7f7;
  position: relative;
  border-radius: 30px;
  margin: 0rem auto 0px auto;
  padding: 0;
  text-align: center;
  width: 100%;
  display: block;
}
@media (min-width: 768px) {
  .tools {
    width: 60%;
    padding: 2rem 5rem;
  }
}
.tools h2 {
  font-family: "november";
  font-size: 50px;
  line-height: normal;
  text-align: center;
  padding: 2rem 0 0.5rem 0;
}
.tools ul {
  margin-top: 1rem;
  padding: 2rem 1.5rem;
}
@media (min-width: 768px) {
  .tools ul {
    margin-top: 0rem;
  }
}
.tools ul li {
  padding: 20px 0px;
  border-bottom: 1px solid #000000;
}
.tools ul li a {
  display: flex;
  color: inherit;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.tools ul li a h3 {
  font-family: "space-grotesk-bold";
  font-size: 1.5rem;
  line-height: 1.7rem;
  text-align: left;
}
@media (min-width: 768px) {
  .tools ul li a h3 {
    font-size: 1.7rem;
    line-height: 2.7rem;
  }
}
@media (min-width: 992px) {
  .tools ul li a h3 {
    font-size: 2.1rem;
    line-height: 2.9rem;
  }
}
@media (min-width: 1200px) {
  .tools ul li a h3 {
    font-size: 2.7rem;
    line-height: 3.4rem;
  }
}
.tools ul li a .arrow-circle {
  background: #2154d6;
  color: #f7f7f7;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
@media (min-width: 768px) {
  .tools ul li a .arrow-circle {
    height: 75px;
    width: 75px;
  }
}
.tools ul li a .arrow-circle .animated-arrow {
  position: relative;
  width: 200%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.tools ul li a:hover {
  color: #8e8e8e;
}
.tools ul li a:hover .animated-arrow {
  -webkit-animation: slideArrows 0.75s forwards;
  animation: slideArrows 0.75s forwards;
  animation-iteration-count: 1;
}
@media (prefers-reduced-motion: reduce) {
  .tools ul li a:hover .animated-arrow {
    -webkit-animation: none;
    animation: none;
  }
}
@-webkit-keyframes slideArrows {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideArrows {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.tools ul li:nth-child(even) .arrow-circle {
  background: #f1de00;
  color: blacK;
}

.coming-soon-text {
  color: #f7f7f7;
  font-size: 2.5rem;
  line-height: 2.8rem;
}
@media (min-width: 768px) {
  .coming-soon-text {
    font-size: 3rem;
    line-height: 3.2rem;
  }
}

/* 
 * Utility class to hide content visually while keeping it screen reader-accessible.
 * Source: https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html 
 */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a.bookmark {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-decoration: inherit;
}
a.bookmark::after {
  content: "#";
  color: #8e8e8e;
  padding-inline: 0.5em;
  visibility: hidden;
}
a.bookmark:hover::after {
  visibility: visible;
}