.post-header {
  margin: 150px auto 80px auto;
  padding-inline: 20px 50px;
  display: flex;
  justify-content: flex-start;
  column-gap: 150px;
  max-width: min(90rem, 100vw);
  align-items: center;
  flex-direction: row;
  color: #f7f7f7;
}
.post-header .post-header-img {
  width: 600px;
  aspect-ratio: 1/1;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.post-header .post-header-img img {
  object-fit: cover;
  width: 100%;
}
.post-header .post-header-title {
  font-size: 40px;
  font-weight: 700;
  color: #f7f7f7;
  font-family: "space-grotesk-bold";
  margin: 35px 0px;
  line-height: 120%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .post-header {
    margin-bottom: 20px;
    padding-inline: 20px;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 40px;
    justify-content: space-around;
    align-items: center;
  }
  .post-header .byline {
    margin-top: 25px;
  }
  .post-header .post-header-title {
    margin: 25px 0px;
    font-size: 32px;
  }
  .post-header .post-header-img {
    width: 400px;
  }
}
@media (max-width: 767px) {
  .post-header {
    margin-bottom: 20px;
    padding-inline: 20px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: normal;
  }
  .post-header .byline {
    margin-top: 25px;
  }
  .post-header .post-header-title {
    margin: 25px 0px;
    font-size: 28px;
  }
  .post-header .post-header-img {
    width: 100%;
    aspect-ratio: 3/2;
  }
}

.post-content-wrapper {
  margin: 0px auto;
  max-width: 55rem;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .post-content-wrapper {
    width: 55%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .post-content-wrapper {
    width: 55%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .post-content-wrapper {
    width: 75%;
  }
}
@media (max-width: 767px) {
  .post-content-wrapper {
    width: 80%;
    padding: 10px;
  }
  .post-content-wrapper img {
    width: 100%;
    height: auto;
  }
}
.post-content-wrapper img {
  margin: 30px 0px;
}
.post-content-wrapper p {
  font-size: 16px;
  font-family: "space-grotesk-light";
  margin: 20px 0px;
}
.post-content-wrapper h2 {
  font-size: 28px;
  font-weight: 700;
  font-family: "space-grotesk-bold";
  line-height: 1.3;
  letter-spacing: 0.28px;
  margin-block: 80px 20px;
}
.post-content-wrapper h3 {
  font-size: 22px;
  font-weight: 700;
  font-family: "space-grotesk-bold";
  line-height: 1.4;
  letter-spacing: 0.2px;
  margin-block: 20px;
}
.post-content-wrapper h4,
.post-content-wrapper h5,
.post-content-wrapper h6 {
  font-size: inherit;
  font-weight: 700;
  font-family: "space-grotesk-bold";
  line-height: 1.4;
  letter-spacing: 0.14px;
  margin-block: 20px;
}
.post-content-wrapper a:not(.bookmark) {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}
.post-content-wrapper a:not(.bookmark):hover {
  color: #8e8e8e;
}
.post-content-wrapper ul {
  padding: 20px;
}
.post-content-wrapper li {
  font-size: 16px;
  font-family: "space-grotesk-light";
  list-style-type: circle;
  padding: 5px 0;
}

.byline {
  font-size: 16px;
  font-family: "space-grotesk-light";
  line-height: 32px;
}
.byline > * {
  vertical-align: middle;
}
.byline img {
  object-fit: cover;
  height: 30px;
  width: 30px;
  margin-inline-end: 15px;
  border-radius: 100%;
}
.byline address {
  display: inline;
}
.byline .byline-separator {
  margin-inline: 0.75em;
}