.richtext img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .richtext img {
    width: auto;
    margin-block: 30px;
  }
}
.richtext p {
  margin-block: 20px;
}
.richtext strong {
  font-weight: bold;
}
.richtext h2 {
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 0.28px;
}
.richtext :not(h1, h2, h3, h4, h5, h6) + h2 {
  margin-top: 80px;
}
.richtext :not(h1, h2, h3, h4, h5, h6) + h3 {
  margin-top: 60px;
}
.richtext :not(h1, h2, h3, h4, h5, h6) + h4, .richtext :not(h1, h2, h3, h4, h5, h6) + h5, .richtext :not(h1, h2, h3, h4, h5, h6) + h6 {
  margin-top: 40px;
}
.richtext h3 {
  font-size: 1.375rem;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0.2px;
  margin-block: 20px;
}
:is(ol, ul, img, p, pre, code) + .richtext h3 {
  margin-top: 60px;
}
.richtext h4,
.richtext h5,
.richtext h6 {
  font-size: inherit;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 0.14px;
  margin-block: 20px;
}
:is(ol, ul, img, p, pre, code) + .richtext h4,
:is(ol, ul, img, p, pre, code) + .richtext h5,
:is(ol, ul, img, p, pre, code) + .richtext h6 {
  margin-top: 40px;
}
.richtext a:not(.bookmark):not(.cta-button) {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}
.richtext a:not(.bookmark):not(.cta-button):hover {
  color: #8e8e8e;
}
.richtext ul,
.richtext ol {
  margin-block: 20px;
  padding-inline-start: 2em;
}
li .richtext ul,
li .richtext ol {
  margin-block: 0;
}
.richtext ul {
  list-style: disc;
}
.richtext ol {
  list-style: decimal;
}
.richtext li {
  padding: 5px 0;
}
.richtext code {
  color: black;
  font-size: 0.9em;
  background-color: #d3d3d3;
  border-radius: 6px;
  padding: 0.2em 0.4em;
  font-family: ui-monospace, "SFMono-Regular", "SF Mono", "Menlo,Consolas", "Liberation Mono", monospace;
  white-space: break-spaces;
}
.richtext pre {
  color: black;
  background-color: #f7f7f7;
  border-radius: 10px;
  font-family: ui-monospace, "SFMono-Regular", "SF Mono", "Menlo,Consolas", "Liberation Mono", monospace;
  padding: 1rem 1.5rem;
  margin: 20px auto;
  display: block;
  overflow-x: auto;
}
.richtext pre code {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  white-space: inherit;
}
.richtext * + .button-group {
  margin-top: 2rem;
}