---
layout: layouts/base.njk
tags:
  - navItems
navOrder: 10
title: Blog
templateClass: tmpl-blog
---

{% from "./_includes/macros/post-link.njk" import postLink %}

{% slotcontent header %}
  <h1>
    {{title}}
  </h1>
{% endslotcontent %}

<div>
  <div>
    {% for post in collections.posts | reverse %}
      {{ postLink(post, "h2") }}
    {% endfor %}
  </div>
  <a href="/feed/feed.xml" title="Subscribe via RSS Feed">Subscribe via RSS</a>
</div>