---
layout: layouts/base.njk
tags:
  - navItems
navOrder: 10
title: Blog
templateClass: tmpl-blog
headerBackground: yellow
---

{% from "./_includes/macros/postExcerpt.njk" import postExcerpt %}

{% slotcontent header %}
  <h1>
    <span>{{title}}</span>
    <svg role="img" width="250">
      <title>Illustration of an eye with a pencil-shaped pupil</title>
      {% usesvg "shape-eye" %}
      {% usesvg "shape-pupil-pencil" %}
    </svg>
  </h1>
{% endslotcontent %}

<div class="blog">
  <div class="blog-posts-wrapper">
    {% for post in collections.posts %}
      {{ postExcerpt(postUrl=post.url, postTitle=post.data.title, postImgSrc=post.data.imageUrl, authorName=post.data.author, authorImgSrc=post.data.authorImageUrl) }}
    {% endfor %}
  </div>
  <div class="cta-btn">
    <a href="./feed/feed.xml" title="Subscribe via RSS Feed">Subscribe via RSS</a>
  </div>
</div>