---
layout: layouts/blog.njk
title: BO1LER
tags:
  - tool
---

<div class="project-wrapper">
  <h1 class="project-title wide-letters">{{ title }}</h1>

  <div class="project-info light">
    <div class="wrapper">
      <h2>What is it?</h2>
      <p>Have you ever spent countless hours building a design system for a project, only to have to do it all over again for the next one? We know the feeling.</p>
      <p>That's why we've put our heads together to create B01LER - a user-friendly, token-based design system boilerplate that helps your team easily create cohesive and consistent designs across all platforms and products. B01LER streamlines the design process and saves time by providing pre-built design components, best practices, and a flexible architecture that can be customized to meet your brand's unique needs.</p>
      <p>On top of that, it makes collaboration between engineering and design teams much easier and clearer. With B01LER, your teams can work smarter and create better products in less time.</p>
    </div>
  </div>
  <h2 class="coming-soon">more info coming soon...</h2>
</div>