---
layout: layouts/base.njk
title: BO1LER
toolOrder: 30
tags:
  - tool
---

<div>
  <div>
      {% renderFile "src/_includes/content/boiler-what-is-it.md" %}
  </div>
  <div>{% renderFile "src/_includes/content/boiler.md" %}</div>
</div>