---
layout: layouts/base.njk
title: BO1LER
toolOrder: 30
headerBackground: blue
tags:
  - tool
---

<div class="project-wrapper">
  <div class="project-info highlight richtext">
      {% renderFile "src/_includes/content/boiler-what-is-it.md" %}
  </div>

   <div class="project-info richtext">{% renderFile "src/_includes/content/boiler.md" %}</div>
</div>