---
layout: layouts/base.njk
title: Documentation Skeleton
toolOrder: 10
headerBackground: blue
tags:
  - tool
---

<div class="project-wrapper">
  <div class="project-info highlight richtext">
    {% renderFile "src/_includes/content/documentation-skeleton-what-is-it.md" %}
  </div>

  <div class="project-info richtext">{% renderFile "src/_includes/content/documentation-skeleton.md" %}</div>
</div>