---
layout: layouts/base.njk
title: Documentation Skeleton
toolOrder: 10
tags:
  - tool
---

<div>
  <div>
    {% renderFile "src/_includes/content/documentation-skeleton-what-is-it.md" %}
  </div>

  <div>{% renderFile "src/_includes/content/documentation-skeleton.md" %}</div>
</div>