---
layout: layouts/blog.njk
title: Documentation Skeleton
---

<div class="project-wrapper">
    <h1 class="project-title">{{ title }}</h1>

    <div class="project-info light">
        <div class="wrapper">
            <h2>What is it?</h2>
            <p>Documentation Skeleton is Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="button-group">
                <div class="cta-btn">
                    <a href="https://github.com/deven-org/documentation-skeleton" target="_blank">View on GitHub →</a>
                </div>
                <div class="cta-btn">
                    <a href="https://github.com/deven-org/documentation-skeleton/archive/refs/heads/main.zip">Download as .zip →</a>
                </div>
            </div>
            <p>That's why we've put our heads together to create B01LER - a user-friendly, token-based design system boilerplate that helps your team easily create cohesive and consistent designs across all platforms and products. B01LER streamlines the design process and saves time by providing pre-built design components, best practices, and a flexible architecture that can be customized to meet your brand's unique needs.</p>
            <p>On top of that, it makes collaboration between engineering and design teams much easier and clearer. With B01LER, your teams can work smarter and create better products in less time.</p>
        </div>
    </div>

    <div class="project-info dark">
        <div class="wrapper">
            <h2>Getting Started</h2>
            <p>Eleventy v2.0.1 requires Node.js version 14 or higher.</p>
            <p>You can check whether or not you have Node installed by running node --version in a terminal window. (Well, wait—what is a Terminal window?) If the command is not found or it reports a number lower than 14, you will need to download and install Node.js before moving on to the next step.</p>
            <p>Prefer to watch videos instead? Check out 6 minutes to Build a Blog from Scratch.</p>
        </div>
    </div>

    <div class="project-info dark">
        <div class="wrapper">
            <h2>Install</h2>
            <p><strong>CREATE A package.json</strong></p>
            <p>Installing Eleventy into a project requires a package.json file. The npm command (provided by Node.js) will create one for you with npm init -y. -y tells npm to use default values and skips the command line questionnaire.</p>
            <code>npm init -y</code>
        </div>
    </div>

    <div class="project-info dark">
        <div class="wrapper">
            <h2>Few Short Standard Prompts</h2>
            <p>Few shot standard prompts are the standard prompts we’ve seen before, but with examples of the task in them.</p>
            <p>Why examples? Well, If you want to increase your chances to get the desired result, you have to add examples of the task that the prompt is trying to solve.</p>
            <p>Few-shot standard prompts consist of a task description, examples, and the prompt. In this case, the prompt is the beginning of a new example that the model should complete by generating the missing text.</p>
            <p>Here are the components of few short standard prompts.</p>
        </div>
    </div>

    <div class="project-info dark">
        <div class="wrapper">
            <h2>Few Short Standard Prompts</h2>
            <p>Few shot standard prompts are the standard prompts we’ve seen before, but with examples of the task in them.</p>
            <p>Why examples? Well, If you want to increase your chances to get the desired result, you have to add examples of the task that the prompt is trying to solve.</p>
            <p>Few-shot standard prompts consist of a task description, examples, and the prompt. In this case, the prompt is the beginning of a new example that the model should complete by generating the missing text.</p>
            <p>Here are the components of few short standard prompts.</p>
        </div>
    </div>
</div>
<h2 class="coming-soon">more info coming soon...</h2>
