---
layout: layouts/base.njk
title: HAMSTER
toolOrder: 40
headerBackground: blue
tags:
  - tool
---

<div class="project-wrapper">
  <div class="project-info highlight richtext">
      {% renderFile "src/_includes/content/hamster-what-is-it.md" %}
  </div>

  <h2 class="coming-soon">more info coming soon...</h2>
</div>