---
layout: layouts/base.njk
navtitle: Imprint
title: Imprint
---

{% slotcontent header %}
{# Nothing - h1 is in content #}
{% endslotcontent %}

<div class='imprint-container'>
  <div class='imprint-box'>
    <h1>{{ title }}</h1>
    <p>
      <span><strong>Responsible contact person:</strong> </span>
      <span>{{ metadata.imprint.name }}</span>
    </p>
    <p>
      <span><strong>Email address:</strong> </span>
      <span>{{ metadata.imprint.email }}</span>
    </p>
    <p>
      <span><strong>Telephone number:</strong> </span>
      <span>{{ metadata.imprint.phone }}</span>
    </p>
  </div>
</div>