---
layout: layouts/base.njk
navtitle: Imprint
title: Imprint
---

<div class='imprint-container'>
  <div class='imprint-box'>
    <h1 class="imprint-title">{{ title }}</h1>
    <p>
      <strong>Responsible contact person:</strong> Ola Gasidlo‑Braendel</p>
    <p>
      <strong>Email address:</strong> ola.gasidlo‑braendel@accenture.com</p>
    <p>
      <strong>Telephone number:</strong> +49 (0) 151 2041801</p>
  </div>
</div>