---
layout: layouts/base.njk
title: DEVENorg
templateClass: home main
---

{% from "macros/post-link.njk" import postLink %}

{% slotcontent header %}    
    <h1 class="deven-headtext">DEVEN</h1>
    <div>
        <div>product engineering</div>
        <div>standardization</div>
        <div>Open Source</div>
        <div>development</div>
        <div>enablement</div>
        <a href="#about-deven">
            About DEVEN        
        </a>
    </div>
{% endslotcontent %}

<section class="hero">
    <article class="hero-main">
        <h1 class="headline">we are on a mission</h1>
        <span class="subtext">
            <p >your partner to enhance engineering for everyone.</p>
            <a href="#" class="primary-cta" target="_blank" aria-label="check out more about us"></a>
        </span>
    </article>
</section>

<section>
    {% renderFile "src/_includes/content/home/intro.md" %}
</section>

<section>
    <h2>Mission</h2>
    {% renderFile "src/_includes/content/home/mission.md" %}

    <h2>Vision</h2>
    {% renderFile "src/_includes/content/home/vision.md" %}
</section>

<section>
    <p>
        So how do we plan to <span class="november-font">make it happen?</span><br>We have developed tooling and are working on establishing processes to help us get there. So, check them out and discover how you can make the most out of them in your projects.
    </p>
</section>

<section>
    <h2>Tools</h2>
    <ul>
        {%- for tool in collections.tool | sort(attribute="data.toolOrder") -%}
            <li>
                <a href="{{ tool.url }}">
                    <h3>{{ tool.data.title }}</h3>
                </a>
            </li>
        {%- endfor -%}
    </ul>
</section>

<section>
    <h2>Current Team</h2>
    <ul>
        {%- for member in team -%}
            <li>
                <img src="{{ member.imageUrl }}" alt="Avatar of {{member.name}}">
                <h3>{{ member.name }}</h3>
                <p>{{ member.role }}</p>
            </li>
        {%- endfor -%}
    </ul>
    <a href='./contributors'>Contributors <span aria-hidden="true">→</span></a>
</section>

<section>
    <h2>Latest News</h2>
    {% for post in collections.posts | reverse | batch(3) | first %}
        {{ postLink(post, "h3") }}
    {% endfor %}
    <a href="/feed/feed.xml">Subscribe via RSS</a>
    <a href='/blog'>Blog <span aria-hidden="true">→</span></a>
</section>