---
layout: layouts/base.njk
tags:
  - nav
title: Telemetry
---

<div class="main-header blue-circle"></div>

<h1 class="project-title">{{ title }}</h1>

<div class="project-info-panel">
    <div class="wrapper">
        <h2>What is it?</h2>
        <p>We know that keeping track of engineering processes in large organizations is hard. As a developer, it can be frustrating to spend too much time on tasks that slow you down or don't add any value.<p>
        <p>That's why we developed Telemetry – a tool that uses Git SaaS-based bots to track anonymized data and help us identify areas where we can improve our processes.  It helps us confirm our assumptions and identify areas that need improvement, so our engineers can focus on more valuable tasks.</p> 
        <p>If you're interested in improving your own projects, consider implementing a similar tool.</p>
    </div>
</div>