---
layout: layouts/base.njk
title: Telemetry
toolOrder: 20
tags:
  - tool
---

<div>
  <div>
      {% renderFile "src/_includes/content/telemetry-what-is-it.md" %}
  </div>

  <div>{% renderFile "src/_includes/content/telemetry.md" %}</div>
</div>
