---
layout: layouts/base.njk
title: Telemetry
toolOrder: 20
headerBackground: blue
tags:
  - tool
---

<div class="project-wrapper">
  <div class="project-info highlight richtext">
      {% renderFile "src/_includes/content/telemetry-what-is-it.md" %}
  </div>

  <div class="project-info richtext">{% renderFile "src/_includes/content/telemetry.md" %}</div>
</div>
